@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-green: #4ade80;
  --bg-red: #ef4444;
  --bg-blue: #3b82f6;
  --bg-four: rgb(59, 150, 192);
  --bg-five: #eea301;
  --bg-six: #a10b12;
  --bg-seven: #8efff6;
  --bg-eight: #485a53;
  --bg-nine: #c66cc9;
  --bg-ten: #8b2e2e;
}

#root {
  background-image: url("bg.png");
  background-repeat: no-repeat;
}

.main-body {
  margin-top: 80px;
}

.votes:nth-child(1) {
  --main-color: var(--bg-blue);
}

.votes:nth-child(2) {
  --main-color: var(--bg-red);
}

.votes:nth-child(3) {
  --main-color: var(--bg-green);
}

.votes:nth-child(4) {
  --main-color: var(--bg-four);
}

.votes:nth-child(5) {
  --main-color: var(--bg-five);
}

.votes:nth-child(6) {
  --main-color: var(--bg-six);
}

.votes:nth-child(7) {
  --main-color: var(--bg-seven);
}

.votes:nth-child(8) {
  --main-color: var(--bg-eight);
}

.votes:nth-child(9) {
  --main-color: var(--bg-nine);
}

.votes:nth-child(10) {
  --main-color: var(--bg-ten);
}

input:checked + label {
  border-color: var(--main-color);
}

progress::-webkit-progress-bar {
  background: #cbd5e1;
  border-radius: 0.5rem;
}

progress::-webkit-progress-value {
  background: var(--main-color);
}

.bottom-logo {
  position: absolute;
  bottom: 0;
}

.setting-menu {
  position: fixed;
  top: 0;
  right: 0;
}
